$mc : #042331 ; 
$sc : #063146 ; 
$bc : #0d86f0 ;
$c  : #ffffff ;
$hc : #ffff00 ;
$hbc: #000000 ;
$mh : calc(100vh - 68px);
$s  : 1.3s ;

* {
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 1em;
   font-family: 'Tahoma' 'sans-serif', 'Haettenschweiler', 'Impact',  'Arial Narrow Bold';
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   direction: rtl;
}
body {
   
   background-color: #f4f4f4;
   background-image: url("../imgs/station-01.jpg");
   background-repeat: repeat;
   background-size: cover;
   background-attachment: fixed;
}

/* ========== login Page ===========    */
.LoginForm {
   margin: 10px auto;
   padding: 7% 5%;
   display: flex;
   justify-content: center;
   flex-direction: row;
   form {
      width: 50%;
      max-width: 500px;
      padding: 30px 30px 5px;
      border: 1px solid black;
      background-color: brown;
      border-radius: 25px;
      box-shadow: 15px 15px 15px #444;
      position: relative;
      flex-grow: 1;
      
      img[alt="lock"] {
         width: 20%;
         position: absolute;
         top: -10%;
         left: 7%;
      }
      h3 {
         text-align: center;
         color: rgb(240, 240, 240);
         font-size: 3em;
         text-shadow: 5px 5px 15px black; //rgb(0, 238, 255);
         &:hover {
            text-shadow: none;
            // color: $hc;
            margin: 1px ;
         }
      }
      .inpt {
         display: block;
         margin: 30px auto;
         padding: 7px;
         width: 95%;
         border-radius: 7px;
         outline: none;
         background-color: #e5e5e5;
         text-align: right;
      }
      .btn {
         background-color: #3d0101;
         color: $c;
         text-align: center;
         width: 50%;
      }
   }
   img[alt="pump"] {
      width: 25%;
      max-height: 400px;
   }
   div {
      width: 15%;
   }
}
@media (max-width:550px) {
   .LoginForm {
      padding: 7% 1%;
      form {
         width: 90%;
      }
      img[alt="pump"] {
         display: none;
      }
      div {
         display: none;
      }
   }
}
@media (max-width:992px) {
   .LoginForm {
      padding: 7% 1%;
      div {
         display: none;
      }
   }
}
// /* ========== Navbar Page ===========    */
.navbar {
   color:$c;
   background-color: $bc;
   // box-shadow: 5px 5px 5px $c;
   padding: 1px;
   position: fixed;
   top: 0;
   width: 100%;
   line-height: 10px;
   ul {
      overflow: hidden;
      li {
         float: right;
         &:last-child {
            float: left;
         }
         a {
            display: block;
            color: $c;
            text-align: center;
            padding: 10px 16px;
            margin: 3px 1px;
            &:focus, &:hover {
               background-color: $hbc;
               color: $hc;
               border-radius: 10px;
            }
         }
      }
   }
}
section {
   // display: flex;
   margin-top: 39px;
   @media (max-width:549px) {
      display: block;
   }
   @media (min-width:550px) {
      display: block;
   }
   @media (min-width:992px) {
      display: flex;
   }
   // /* ========== Menu Page ===========    */
   @import "wrapper" ;
   // /* ========== Container Page ===========    */
   .container {
      // margin-top: 39px;
      // width: 77%;
      line-height: 2em;
      border-radius: 20px;
      @media (max-width:549px) {
         width: 100%  ;
      }
      @media (min-width:550px) {
         width: 100%;
      }
      @media (min-width:768px) {
         // left : 16%
      }
      @media (min-width:992px) {
         width: 77%;
      }
      @media (min-width:1200px) {
         // left: 33%;
      }
      #dvTbl {
         max-height: $mh;
         overflow: auto;
         /* ========== Search Form ===========    */
         form {
            .srch {
               width: 60%;
               padding: 1px 25px;
               border: 5px solid $bc;
               border-radius: 25px;
               outline: none;
               display: block;
               margin: 0 auto;
               line-height: 2em;
            }
         }
         // /* ========== Table show ===========    */
         @import "mTbl" ;
      }
      // /* ========== Input Form ===========    */
      @import "inputstyle" ;
   }
}
// /* ========== Footer Page ===========    */
footer.myfooter {
   position: fixed;
   color: #f00;
   background-color: $bc;
   bottom: 0;
   left: 1px;
   width: 100%;
   padding: 3px 10px;
   border: 2px solid #111;
   &:hover {
      color: $hc;
      background-color: $hbc;
   }
   label {
      margin: 0 5px;
   }
}
.hiddenCol {
   display: none;
}
a.active {
   background-color: $hbc;
   color: $hc ;
   border-radius: 10px;
}
option {
   color : purple ;
   line-height: 5em;
}

// .mTbl tr > *:nth-child(2) {
//    display: none;
// }

@media only print {
   .navbar , .wrapper , .myfooter {
      display: none;
   }
   section {
      .container {
         width: 100%;
         margin: 0;
         form {
            display: none;
         }
         #dvTbl {
            overflow: visible;
         }
      }
   }
}